/* custom-default.css */
/* @theme custom-default */

@import 'default';

@font-face {
  font-family: "AID mono";
  src: 
    url('../fonts/aid/DMMono-AID-Text.otf'),
    url('../fonts/aid/fonts/adi/DMMono-AID-Text.woff2') format('woff2'),
    url('../fonts/aid/fonts/aid/DMMono-AID-Text.woff') format('woff'),
    url('fonts/aid/DMMono-AID-Text.otf'),
    url('fonts/aid/DMMono-AID-Text.woff2') format('woff2'),
    url('fonts/aid/DMMono-AID-Text.woff') format('woff');
}

@font-face {
  font-family: "AID headline";
  src:
    url('../fonts/aid/DMSans-AID-Headline-Regular.otf'),
    url('../fonts/aid/fonts/aid/DMSans-AID-Headline-Regular.woff2') format('woff2'),
    url('../fonts/aid/fonts/aid/DMSans-AID-Headline-Regular.woff') format('woff'),
    url('fonts/aid/DMSans-AID-Headline-Regular.otf'),
    url('fonts/aid/DMSans-AID-Headline-Regular.woff2') format('woff2'),
    url('fonts/aid/DMSans-AID-Headline-Regular.woff') format('woff');
}

@font-face {
  font-family: "AID regular";
  src: 
    url('../fonts/aid/DMSans-AID-Text-Regular.otf'),
    url('../fonts/aid/fonts/aid/DMSans-AID-Text-Regular.woff2') format('woff2'),
    url('../fonts/aid/fonts/aid/DMSans-AID-Text-Regular.woff') format('woff'),
    url('fonts/aid/DMSans-AID-Text-Regular.otf'),
    url('fonts/aid/DMSans-AID-Text-Regular.woff2') format('woff2'),
    url('fonts/aid/DMSans-AID-Text-Regular.woff') format('woff');
}

section {
  font-family: 'AID regular';
  background: #ABF7CE;
  color: #000000;
}

h1 {
  font-family: 'AID headline';
  color:#000000;
}

.columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}
.columns3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
} 
img[alt~="center"] {
  display: block;
  margin: 0 auto;
}
.fa-twitter { color: aqua; }
.fa-mastodon { color: purple; }
.fa-linkedin { color: blue; }
.fa-window-maximize { color: skyblue; }

svg[id^="mermaid-"] { 
  max-width: 960px; 
  max-height: 600px; 
}

@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'