/* custom-default.css */

/** 
* @theme custom-default 
*/


@import 'default';

@font-face {
  font-family: "AID mono";
  src: 
    url('./themes/fonts/aid/DMMono-AID-Text.otf'),
    url('./themes/fonts/aid/DMMono-AID-Text.woff2') format('woff2'),
    url('./themes/fonts/aid/DMMono-AID-Text.woff') format('woff');
}

@font-face {
  font-family: "AID headline";
  src:
    url('./themes/fonts/aid/DMSans-AID-Headline-Regular.otf'),
    url('./themes/fonts/aid/DMSans-AID-Headline-Regular.woff2') format('woff2'),
    url('./themes/fonts/aid/DMSans-AID-Headline-Regular.woff') format('woff');
}

@font-face {
  font-family: "AID regular";
  src: 
    url('./themes/fonts/aid/DMSans-AID-Text-Regular.otf'),
    url('./themes/fonts/aid/DMSans-AID-Text-Regular.woff2') format('woff2'),
    url('./themes/fonts/aid/DMSans-AID-Text-Regular.woff') format('woff');
}

:root {
  --primary:#ABF7CE;
  --primary-dark:#335C55;
  --secondary-dark:#A478FF;
  --sedondary:#C7A6F3;
}


/* Apply the custom font family to the canvas */
canvas {
  font-family: 'AID headline';
}

section {
  --heading-strong-color: #000000;
  --color-accent-fg:#141414;
  --color-accent-emphasis: #141414;
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  font-family: 'AID regular';
  background: #ABF7CE;
}

footer {
  --color-accent-fg:#141414;
  --color-accent-emphasis: #141414;
}

section h1 {
  font-family: 'AID headline';
  color:#000000;
  font-weight: normal;
}

section h2 {
  font-family: 'AID regular';
  color:#000000;
  font-weight: normal;
}

section h3 {
  font-family: 'AID regular';
  color:#000000;
  font-weight: normal;
}

section strong {
  font-family: 'AID headline';
  background-color: #C3AAEE;
  font-weight: normal;
  padding: 8px; /* Adjust padding to give space around the text */
  border-radius: 0px; /* Optional: Add rounded corners for a softer look */
}

section em {
  font-family: 'AID headline';
  font-weight: normal;
  padding: 8px; /* Adjust padding to give space around the text */
  border-radius: 0px; /* Optional: Add rounded corners for a softer look */
  color:#000000;
}

.aid {
  font-family: 'AID headline';
  color:#000000;
  background-color: #C3AAEE;
  margin-right: 2px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.aid-img {
  border: 20px solid #000000;
}

.columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}
.columns3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
} 
/*USE: ![w:600 center](img/ai_0.png.png) */
img[alt~="center"] {
  display: block;
  margin: 0 auto;
  background: transparent;
  border: 20px solid #000000;
}

.fa-twitter { color: aqua; }
.fa-mastodon { color: purple; }
.fa-linkedin { color: blue; }
.fa-window-maximize { color: skyblue; }

svg[id^="mermaid-"] { 
  min-width: 959px; 
  max-width: 960px; 
  min-height: 360px; 
  max-height: 600px;
}

@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'